.component{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.component > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
 }
.component > div > img{
    width: 250px;
}

.component >  div > h3{
    text-align: center;
}


